body,
h1,
p,
button {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #43334c;
}

h1 {
  font-weight: 700;
}

body {
  background: #eeeaae;
  background: radial-gradient(
    circle,
    rgba(238, 234, 174, 1) 0%,
    rgba(212, 194, 201, 1) 34%,
    rgba(182, 148, 233, 1) 100%
  );
}

.sprite {
  background-image: url(heartSprite.png);
  width: 7vh;
  height: 7vh;
  background-size: 200%;
  display: inline-block;
  background-repeat: no-repeat;
  transform: scale(5);
  image-rendering: pixelated;
  animation: playSprite 2s steps(4) infinite;
}

@keyframes playSprite {
  0%,
  24.9% {
    background-position: 0% 0%;
  }
  25%,
  49.9% {
    background-position: 100% 0%;
  }
  50%,
  74.9% {
    background-position: 0% 100%;
  }
  75%,
  100% {
    background-position: 100% 100%;
  }
}

button,
button:hover,
button:active,
button:focus {
  border: none;
  outline: none;
}

button {
  background-color: #d4c2c9;
  width: 150px;
  padding: 5px 10px;
  margin: 15px 30px;
  text-transform: capitalize;
  image-rendering: pixelated;
  cursor: pointer;
  transition: transform 0.1s;

  box-shadow:
    inset -3px -3px 0px 0px rgba(67, 51, 76, 0.2),
    3px 0px 0px 0px #43334c,
    0px 3px 0px 0px #43334c,
    -3px 0px 0px 0px #43334c,
    0px -3px 0px 0px #43334c;
}

button:hover {
  transform: translateY(-4px);

  box-shadow:
    inset -3px -3px 0px 0px rgba(67, 51, 76, 0.2),
    3px 0px 0px 0px #43334c,
    0px 3px 0px 0px #43334c,
    -3px 0px 0px 0px #43334c,
    0px -3px 0px 0px #43334c;
}

button:active {
  transform: translateY(2px);
  box-shadow:
    inset -3px -3px 0px 0px rgba(67, 51, 76, 0.2),
    3px 0px 0px 0px #43334c,
    0px 3px 0px 0px #43334c,
    -3px 0px 0px 0px #43334c,
    0px -3px 0px 0px #43334c;
}

@media (max-width: 768px) {
  .sprite {
    width: 10vw;
    height: 10vw;
  }

  h1 {
    font-size: 1.8rem !important;
  }

  button {
    width: 120px;
  }

  .container-fluid {
    padding: 20px !important;
  }
}
